body{
    background-color:rgb(148, 255, 255);
}
h3{
    margin: 10px;
}

.titulo{
    text-align: center;
}

.lineabotones1{
    text-align: center;
    display: flex;
    justify-content: center;
}

.segundalinea{
    text-align: center;
}

.terceralinea{
    text-align: center;
    
}

.img{
    text-align: center;
}

.B1{
    margin-left: 630px;

}